<?xml version="1.0" encoding="utf-8" ?>
<phpunit bootstrap="./app/config/config.php"
         colors="true"
         verbose="true"
         stopOnFailure="false"
>
    <testsuites>
        <testsuite name="LAF">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
</phpunit>